<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TP Symphony !</title>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <h1>Formulaire</h1>
    <form method="get">
        <label for="name">Ville</label>
        <input name="name" id="name" placeholder="Ville" />
        <br>
        <label for="zipcode">Code postal</label>
        <input name="zipcode" id="zipcode" placeholder="Code postal" />
        <br>
        <button type="submit">Chercher</button>
    </form>
    <p>{{ error }}</p>
    {% for city in citys %}
        <ul>
            <li>{{ city['nom'] }}</li>
            <p>Code Postale: {{ city['codesPostaux'][0] }}</p>
            <p>Code Departementale : {{ city['codeDepartement'] }}</p>
            <p>Code Regionale : {{ city['codeRegion'] }}</p>
            <p>Population: {{ city['population'] }}</p>
            <br>
            <p>Mairie:</p>
            <p>{{ errorEtablissement }}</p>
            {% for etablissement in etablissement %}
                <ul>
                    {% if etablissement['properties']['nom'] is defined %}
                        <li>Nom : {{ etablissement['properties']['nom']}}</li>
                    {% endif %}
                    {% if etablissement['properties']['horaires'] is defined %}
                        <li>Horaires :</li>
                        {% if etablissement['properties']['horaires'][0] is defined %}
                            <p>Du  {{ etablissement['properties']['horaires'][0]["du"] }} au {{ etablissement['properties']['horaires'][0]["au"] }}:</p>
                            <p>- matin {{ etablissement['properties']['horaires'][0]["heures"][0]["de"] }} a {{ etablissement['properties']['horaires'][0]["heures"][0]["a"] }}</p>
                            {% if etablissement['properties']['horaires'][0]["heures"][1] is defined %}
                                <p>- après-midi {{ etablissement['properties']['horaires'][0]["heures"][1]["de"] }} a {{ etablissement['properties']['horaires'][0]["heures"][1]["a"] }}</p>
                            {% endif %}
                        {% endif %}
                        {% if etablissement['properties']['horaires'][1] is defined %}
                            <p>Du  {{ etablissement['properties']['horaires'][1]["du"] }} au {{ etablissement['properties']['horaires'][1]["au"] }}:</p>
                            <p>- matin {{ etablissement['properties']['horaires'][0]["heures"][0]["de"] }} a {{ etablissement['properties']['horaires'][0]["heures"][0]["a"] }}</p>
                            {% if etablissement['properties']['horaires'][0]["heures"][1] is defined %}
                                <p>- après-midi {{ etablissement['properties']['horaires'][0]["heures"][1]["de"] }} a {{ etablissement['properties']['horaires'][0]["heures"][1]["a"] }}</p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
